.noticeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.noticeCard {
  background: white;
  width: 312px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
  padding: 16px;
}

.noticeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.closedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.noticeContent {
  padding: 16px;
}

.noticeTitle {
  font-family: Spoqa Han Sans Neo;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.04px;
  text-align: left;
  margin-bottom: 8px;
}

.noticeInfo {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.noticeTime {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  img {
    margin-right: 6px;
  }
}
.noticeLocation {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  img {
    margin-right: 6px;
  }
}

.noticePay {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payAmount {
  font-family: Spoqa Han Sans Neo;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.05px;
  letter-spacing: 0.02em;
  text-align: left;
}

.payIncrease {
  background-color: var(--yellow4);
  color: white;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.53px;
  text-align: center;
  white-space: nowrap;
  width: 170px;
  height: 36px;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowIcon {
  margin-left: 7px;
  display: inline-flex;
  vertical-align: middle;
}
