.container {
  padding: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: Spoqa Han Sans Neo;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 24px;
}
