@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.main {
  display: flex;
  justify-content: center; 
  height: 100vh;
  background-color: #FAFAFA;
  
}

.mainContainer {
  @media (max-width: 767px) {
    width: 100%; 
    margin-top: 20px;
  }
}

.profileTitle {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33.6px;
  margin-top: 60px;
  margin-bottom: 24px;
  @media (max-width: 767px) {
    width: 100%; 
    position: relative;
    left: 5%;
  }
}

.profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 964px;
  height: 217px;
  border-radius: 12px;
  border: 1px solid #E5E4E7;
  padding: 60px 24px 60px 24px;
  margin-bottom: 120px;
  @media (max-width: 767px) {
    width: 90%;
    margin: 0 auto;  /* 모바일 사이즈에서 세로 배열 */
    padding: 20px; /* 모바일 사이즈에서 더 작은 패딩 */
  }
}

.profileContent {
  width: 916px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;

  @media (max-width: 767px) {
    width: 100%; 
  }
  
}

.profileButton {
  width: 346px;
  height: 47px;
  border-radius: 6px;
  background-color: var(--yellow4);
  border: none;
  cursor: pointer;
    span {
      width: 125px;
      height: 20px;
      font-family: 'Spoqa Han Sans Neo', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
    }

    @media (max-width: 767px) {
      width: 30%;
      margin-top: 10px;
    }
    @media (min-width: 375px) {
      width: 80%;
    }
}