.customContainer {
  background-color: var(--yellow2);
  height: 535px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.customSection {
  width: 964px;
  margin: 0 auto;
}
.title {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #111322;
  margin-bottom: 30px;
}
.fitNotice {
  display: flex;
  gap: 10px;
}
.container {
  padding: 60px 0;
  width: 100%;
  margin: 0 auto;
  height: 995px;
  background-color: white;
}
.titleSection {
  display: flex;
  gap: 10px;
  width: 964px;
  margin: 0 auto;
}
.sortDropdown {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 0 0 0 auto;
  gap: 6px;
  background: #f2f2f3;
  border-radius: 5px;
  width: 105px;
  height: 30px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #111322;
}
.detailFilter {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 6px;
  margin: 0 0 0 0;
  width: 79px;
  height: 30px;
  background: var(--yellow5);
  border-radius: 5px;

  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.sortDropdownMenu {
  box-sizing: border-box;
  top: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0px;
  gap: 8px;
  position: absolute;
  width: 105px;
  height: 160px;
  background: #ffffff;
  border: 1px solid #e5e4e7;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.sortDropdownText {
  cursor: pointer;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #111322;
}
.dropdownLine:not(:last-child) {
  width: 105px;
  height: 34px;
  border-bottom: 1px solid #e5e4e7;
}
