// 렌더링 페이지
.profileWrap {
  display: flex;
  height: 376px;
  align-items: center;
  background-color: #FFFFFF;
}

.informationWrap {
  display: flex;
  align-items:flex-start;
  width: 957px;
  height: 256px;
  gap: 180px;
  margin: 0 auto;
}


.profileTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 33.6px;

}

.nameProfile {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--yellow5);
  margin-bottom: 8px;
}

.userName {
  font-weight: 700;
  font-size: 28px;
  line-height: 33.6px;
  color: var(--black);
}

.information {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray50);
}

.userWrap {
  width: 665px;
  height: 256px;
  border-radius: 12px;
  padding: 32px;
  gap: 8px;
  background-color: 
  #fffae7;
}

.userFlex {
  display: flex;
  gap: 95px;
}

.titleWrap {
  width: 392px;
  height: 192px;
}

.informationFlex {
  display: flex;
  gap: 3px;
  margin-top: 12px;
  align-items: center;
}

.bio {
  color: #000000;
  margin-top: 28px;
}

.button {
  width: 169px;
  height: 48px;
  border-color: var(--yellow4);
  border-radius: 6px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #eab012;
  font-family: 'Spoqa Han Sans Neo', 'Pretendard', sans-serif;
  cursor: pointer;

   &:hover {
    background-color: var(--yellow2);
   }
}
