.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 32px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 32px;
}

.inputWrapper {
  margin-bottom: 24px;
}

.label {
  display: block;
  margin-bottom: 5px;
  line-height: 26px;
}

.formInner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'storeName category'
    'address1 address2'
    'pay pay'
    'storeImage storeImage'
    'storeInfo storeInfo';
  gap: 10px;
}

.storeName {
  grid-area: storeName;
}

.category {
  grid-area: category;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.pay {
  grid-area: pay;
  grid-column: span 1;
}

.storeImage {
  grid-area: storeImage;
  width: 49.5%;
}

.storeInfo {
  grid-area: storeInfo;
}

@media (max-width: 767px) {
  .container {
    padding: 40px 12px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .inputWrapper {
    margin-bottom: 20px;
  }

  .formInner {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .storeImage {
    width: 100%;
  }
}
