.messageCotainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px; /* 원하는 만큼의 간격으로 조정 */
  display: flex;
  z-index: 9999;
}

.messageBox {
  background-color: #fcc419;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
}
