.messageCotainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px; /* 원하는 만큼의 간격으로 조정 */
  display: flex;
  z-index: 9999;
}

.messageBox {
  background-color: #fcc419;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  line-height: 26px;
  opacity: 0;
  /* 나타날 때의 애니메이션 설정 */
  animation: toast 4s ease;
}

@keyframes toast {
  0% {
    opacity: 0; /* 처음에는 투명 */
  }
  50% {
    opacity: 1; /* 반투명에서 완전 불투명으로 */
  }
  100% {
    opacity: 0; /* 다시 투명 */
  }
}
