.customContainer {
  background-color: var(--yellow2);
  height: 535px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  @media (max-width: 767px) {
    height: 375px;
    padding: 30px 12px;
  }
}
.customSection {
  width: 964px;
  margin: 0 auto;
  @media (max-width: 1199px) {
    width: 680px;
  }
  @media (max-width: 767px) {
    width: 350px;
    margin: 0 auto;
  }
}
.title {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #111322;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.fitNotice {
  display: flex;
  gap: 10px;
}
.carousel {
  display: flex;
}
.carouselContainer {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
}
.carousel > * {
  box-sizing: border-box;
  margin-right: 10px;
}
